.right-menu.float-right.card.p-2.mr-3
  .registration-menu
    .shelf
      = link_to new_user_shelf_path(current_user.id) do
        .shelf-registration.btn.btn-primary
          新規本棚登録
          = icon('fas', 'receipt')
    .item
      = link_to new_user_item_path(current_user.id) do
        .item-registration.btn.btn-primary.mt-1
          新規アイテム登録
          = icon('fas', 'book')
    .search.mt-2
      = form_with url: "/users/#{current_user.id}/item_search", local: true, method: :get do |f|
        = f.text_field :keyword, placeholder: "本を探す"
        = f.button :submit, type: :submit, class: ["btn", "btn-primary"] do
          %i.fa.fa-search
